*.iml
.idea
.kotlin
.gradle
app/release
app/schemas
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
apikeys.properties
google-services.json
/idea-flex.skeleton
/jflex-1.10.17.jar
/ksp_log.txt
/.idea/
/.bundle/
