target/
.direnv/
crabir/lib/src/rust/
rust/src/frb_generated*
frb_generated*
.env
.gradle/
.android/
todo
key.properties
crabir/android/build/

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
